<div class="form-group col col-lg-6 col-md-12">
	{{ form_start(form) }}
	<div class="form-group mb-3">
		{{ form_label(form.rate, 'comment.rate'|trans) }}
		{{ form_widget(form.rate, {'attr': {'class': 'form-range'}}) }}
	</div>
	<div class="form-group mb-3">
		{{ form_label(form.comment, 'comment.comment'|trans) }}
		{{ form_widget(form.comment, {'attr': {
			'class': 'form-control',
			'placeholder': 'comment.comment_placeholder'|trans
		}}) }}
	</div>
	<div class="form-group mb-3">
		<input type="submit" value={{ 'nav.post'|trans }} class="btn btn-secondary">
	</div>
	{{ form_end(form) }}
</div>