{% extends 'base.html.twig' %}

{% block title %}{{ 'nav.categories'|trans }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ 'categories.index_title'|trans }}</h1>
    {% for category in categories %}
        <div>
            <h2>{{ loop.index }} / {{ 'categories.index_subtitle'|trans }} : <a href="{{ path('category_show' , { categoryName: category.name }) }}">{{ category.name }}</a></h2>
        </div>
    {% else %}
        {{ 'nav.no_records'|trans }}
    {% endfor %}

    {% if is_granted("ROLE_ADMIN") %}
        <a class="mt-3 btn btn-secondary" href="{{ path('category_new') }}">
            {{ 'nav.new'|trans }}
        </a>
    {% endif %}
    <a class="mt-3 btn btn-primary" href="{{ path('app_index') }}">
        {{ 'nav.index_back'|trans }}
    </a>
{% endblock %}
