{% extends 'base.html.twig' %}

{% block title %}{{ 'categories.new'|trans }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="mt-3">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="mt-3 btn btn-secondary" type='submit' value={{ 'nav.new'|trans }}>
        {{ form_end(form) }}
    </div>
    <a class="mt-3 btn btn-secondary" href="{{ path('category_index') }}">
        {{ 'nav.categories_back'|trans }}
    </a>
    <a class="mt-3 btn btn-primary" href="{{ path('app_index') }}">
        {{ 'nav.index_back'|trans }}
    </a>
{% endblock %}
