{% extends 'base.html.twig' %}

{% block title %}{{ category.name }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>
        {% trans with {'%categoryname%': category.name} %}
          categories.show_title
        {% endtrans %}
    </h1>
    {% for program in programs %}
        <div>
            <h2> #{{ program.id }} / {{ program.title }}</h2>
            <p>{{ program.summary }}</p>
            {# Lien vers la fiche de la série : #}
            <a class="btn btn-secondary mb-3" href="{{ path("program_show", { slug: program.slug }) }}">
                {{ 'nav.programs_show'|trans }}
            </a>
        </div>
    {% else %}
        {{ 'nav.no_records'|trans }}
    {% endfor %}
    <a class="btn btn-secondary mb-3" href="{{ path('category_index') }}">
        {{ 'nav.categories_back'|trans }}
    </a>
    <a class="btn btn-primary mb-3" href="{{ path('app_index') }}">
        {{ 'nav.index_back'|trans }}
    </a>
{% endblock %}