{% extends 'base.html.twig' %}

{% block title %}{{ 'nav.episodes'|trans }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ 'episodes.index_title'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'episodes.title'|trans }}</th>
                <th>{{ 'episodes.number'|trans }}</th>
                <th>{{ 'episodes.summary'|trans }}</th>
                <th>
                    {% if is_granted("ROLE_ADMIN") %}
                        {{ 'nav.actions'|trans }}
                    {% else %}
                        {{ 'nav.action'|trans }}
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for episode in episodes %}
                <tr>
                    <td>{{ episode.id }}</td>
                    <td>{{ episode.title }}</td>
                    <td>{{ episode.number }}</td>
                    <td>{{ episode.summary }}</td>
                    <td>
                        <a class="btn btn-secondary" href="{{ path('episode_show', {slug: episode.slug}) }}">
                            {{ 'nav.show'|trans }}
                        </a>
                        {% if is_granted("ROLE_ADMIN") %}
                            <a class="btn btn-secondary" href="{{ path('episode_edit', {slug: episode.slug}) }}">
                                {{ 'nav.edit'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">
                        {{ 'nav.no_records'|trans }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('episode_new') }}">
        {{ 'nav.new'|trans }}
    </a>
{% endblock %}
