{% extends 'base.html.twig' %}

{% block title %}{{ 'episodes.new'|trans }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ 'episodes.new_title'|trans }}</h1>

    {{ include('episode/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('episode_index') }}">
        {{ 'nav.episode_back'|trans }}
    </a>
{% endblock %}
