{% extends 'base.html.twig' %}

{% block title %}{{ episode.title }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ episode.season.program.title }} - S{{ episode.season.number }}E{{ episode.number }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>{{ 'episodes.title'|trans }}</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>{{ 'episodes.number'|trans }}</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>{{ 'episodes.summary'|trans }}</th>
                <td>{{ episode.summary }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-secondary mt-3" href="{{ path('episode_edit', {slug: episode.slug}) }}">
        {{ 'nav.edit'|trans }}
    </a>

    {{ include('episode/_delete_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('episode_index') }}">
        {{ 'nav.episode_back'|trans }}
    </a>
{% endblock %}
