{% extends 'base.html.twig' %}

{% block title %}{{ 'seasons.new'|trans }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ 'seasons.new_title'|trans }}</h1>

    {{ include('season/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('season_index') }}">
        {{ 'nav.seasons_back'|trans }}
    </a>
{% endblock %}
