{% extends 'base.html.twig' %}

{% block title %}{{ season.program.title }} {{ 'programs.season'|trans }} {{ season.number }} - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>
        {{ season.program.title }} {{ 'programs.season'|trans }} {{ season.number }}
    </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ season.id }}</td>
            </tr>
            <tr>
                <th>{{ 'seasons.number'|trans }}</th>
                <td>{{ season.number }}</td>
            </tr>
            <tr>
                <th>{{ 'seasons.year'|trans }}</th>
                <td>{{ season.year }}</td>
            </tr>
            <tr>
                <th>{{ 'seasons.description'|trans }}</th>
                <td>{{ season.description }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('season_edit', {'id': season.id}) }}">
        {{ 'nav.edit'|trans }}
    </a>

    {{ include('season/_delete_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('season_index') }}">
        {{ 'nav.seasons_back'|trans }}
    </a>
{% endblock %}
