{% extends 'base.html.twig' %}

{% block title %}{{ program.title }} - {{ 'programs.edit'|trans }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ 'programs.edit_title'|trans }}{{ program.title }}</h1>

    {{ include('program/_form.html.twig', {'button_label': 'nav.edit'|trans}) }}

    <a class="btn btn-primary" href="{{ path('program_index') }}">{{ 'nav.programs_back'|trans }}</a>
{% endblock %}
