{% extends 'base.html.twig' %}

{% block title %}
    {{ program.title }} - 
    {% trans with {
        '%seasonnumber%': season.number,
        '%episodenumber%': episode.number
        } %}
        programs.episode_acronym
    {% endtrans %} : 
    {{ episode.title }}
{% endblock %}

{% block body %}
<section class="container mt-4">
    <div class="media">
        <div class="media-body">
            <h1 class="mt-0">
                {{ program.title }} : 
                {{ 'programs.season'|trans }} {{ season.number }} 
                {{ 'programs.episode'|trans }} {{ episode.number }}
            </h1>
            <h2>{{ episode.title }}</h2>
            <p>{{ 'episodes.summary'|trans }} : {{ episode.summary }}</p>
        </div>
    </div>
    <p>
        <a class="btn btn-secondary" href="{{ path('program_season_show', { slug: program.slug , season: season.id }) }}">
            {{ 'nav.programs_season_back'|trans }} {{ season.number }}
        </a>
    </p>
    <p>
        <a class="btn btn-secondary" href="{{ path('program_show', { slug: program.slug }) }}">
            {{ 'nav.programs_show_back'|trans }} {{ program.title }}
        </a>
    </p>
    <p>
        <a class="btn btn-primary" href="{{ path('program_index') }}">
            {{ 'nav.programs_back'|trans }}
        </a>
    </p>
</section>
<section class="container mt-4">
        <h2>{{ 'comment.index_title'|trans }}</h2>
        <table class="table table-striped table-hover">
            {% for comment in episode.comments %}
                <tr>
                    <td class="col-2">
                        {{ 'comment.rate'|trans }} {{ comment.rate }}
                    </td>
                    <td class="col-8">
                        {{ comment.comment }}
                    </td>
                    <td class="col-2">
                        {{ 'comment.author'|trans }} {{ comment.author.username }}
                    </td>
                    {% if is_granted("ROLE_ADMIN") or app.user is same as(comment.author)  %}
                        <td class="col-2">
                            {{ include('/comment/_delete_form.html.twig') }}
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                {{ 'comment.no_records'|trans }}
            {% endfor %}
        </table>
</section>
    {% if app.user %}
<section class="container mt-4">
        <h2>{{ 'comment.new_title'|trans }}</h2>
        {{ include('/comment/_form.html.twig') }}
</section>
    {% endif %}
{% endblock %}