{% extends 'base.html.twig' %}

{% block title %}{{ program.title }} - Saison {{ season.number }} - Episode {{ episode.number }}{% endblock %}

{% block body %}
    <div class="media">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }} : Saison {{ season.number }} Episode {{ episode.number }}</h1>
            <p>Titre : {{ episode.title }}</p>
            <p>Synopsis : {{ episode.summary }}</p>
        </div>
    </div>
    <p>
        <a href="{{ path("program_season_show", { program: program.id , season: season.id }) }}">
            Retour à la saison {{ season.number }}
        </a>
    </p>
    <p>
        <a href="{{ path("program_show", { id: program.id }) }}">
            Retour à la série {{ program.title }}
        </a>
    </p>
    <p>
        <a href="{{ path('program_index') }}">
            Retour à la liste des programmes
        </a>
    </p>
{% endblock %}
