{% extends 'base.html.twig' %}

{% block title %}Add a program{% endblock %}

{% block body %}
    <div class="mt-3">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="mt-3 btn btn-secondary" type='submit' value='Ajouter un programme'>
        {{ form_end(form) }}
    </div>
    <a class="mt-3 btn btn-primary" href="{{ path('program_index') }}">
        Retour
    </a>
    <a class="mt-3 btn btn-primary" href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
