{% extends 'base.html.twig' %}

{% block title %}{{ 'programs.new'|trans }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="mt-3">
        <h1>{{ 'programs.new_title'|trans }}</h1>

        {{ include('program/_form.html.twig') }}
    </div>
    <a class="mt-3 btn btn-secondary" href="{{ path('program_index') }}">
        {{ 'nav.programs_back'|trans }}
    </a>
    <a class="mt-3 btn btn-primary" href="{{ path('app_index') }}">
        {{ 'nav.index_back'|trans }}
    </a>
{% endblock %}
