{% extends 'base.html.twig' %}

{% block title %}{{ program.title }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="media">
        <img
            class="align-self-start mr-3 w-25"
            src="{{program.poster}}"
            alt="{% trans with {'%title%': program.title} %}img.poster_alt{% endtrans %}"
        >
        <div class="media-body">
            <h1 class="mt-0">
                {{ program.title }}
                {% if app.user %}
                    <a id="watchlist" href="{{ path('program_watchlist', {id: program.id})}}">
                        <i class="bi {{ app.user.isInWatchlist(program) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
                    </a>
                {% endif %}
                
                
            </h1>
            <p>{{ program.summary }}</p>
            <p>{{ 'categories.index_subtitle'|trans }} : {{ program.category.name }}</p>
            <ul>
                {% for season in seasons %}
                <li>
                    <a href="{{ path("program_season_show", { slug: program.slug , season: season.id }) }}">
                        {{ 'programs.season'|trans }} {{ season.number }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            <strong>{{ 'programs.casting'|trans }}</strong>
            <ul>
                {% for actor in program.actors %}
                    <li><a href="{{ path("actor_show", { id: actor.id }) }}">{{ actor.name }}</a></li>
                {% else %}
                    <li>{{ 'nav.no_records'|trans }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% if is_granted("ROLE_ADMIN") or app.user is same as(program.owner)  %}
        <a class="btn btn-secondary" href="{{ path('program_edit', { programSlug: program.slug }) }}">
            {{ 'nav.edit'|trans }}
        </a>
    {% endif %}

    <a class="btn btn-primary" href="{{ path('program_index') }}">
        {{ 'nav.programs_back'|trans }}
    </a>
{% endblock %}