{% extends 'base.html.twig' %}

{% block title %}{{ 'casting.new'|trans }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ 'casting.new_title'|trans }}</h1>

    {{ include('actor/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('actor_index') }}">{{ 'nav.casting_back'|trans }}</a>
{% endblock %}
