{% extends '/email/layoutEmail.html.twig' %}

{% block title %}
    {{ parent() }} - Nouvel épisode
{% endblock %}

{% block body %}
    <h1>Nouvel épisode {{ episode.title }} ajouté !</h1>
    <p>Bonjour, un nouvel épisode de la série {{ program.title }} a été ajouté sur Wild Séries !
        Il s'agit de l'épisode n°{{ episode.number }} et s'intitule {{ episode.title }}.</p>
    <a href="localhost:8000/episode/{{ episode.slug }}">Aller voir</a>
{% endblock %}
